<header>
    <div class="logo">
      <img src="https://api.logo.com/api/v2/images?logo=logo_6562221e-9ef2-4229-b5c1-e105a24171ab&u=1718131070&width=1050&height=400&fit=contain&margins=100&format=webp&quality=60" alt="Nekrilk.com">
    </div>
    <nav>
      <ul>
        <li class="dropdown">
            <a href="#about" class="dropbtn"><i style="font-size: 20px;" class="bi bi-person-fill"></i></a>
            <div class="dropdown-content">
                <a href="/profile">Account</a>
                <a href="/logout">Logout</a>

            </div>
        </li>
        <li>
            <i style="font-size: 20px; margin-right: 2px; margin-left: 10px;" class="bi bi-translate"></i>
            <select class="dropdown" onchange="location = this.value;">
              <option selected disabled><i style="font-size: 20px;" class="bi bi-translate"></i></option>
              <option selected value="#FR">FR(french)</option>
              <option value="#AR">AR(arabic)</option>
              <option value="#EN">EN(english)</option>
            </select>
        </li>
        </ul>
  
    </nav>
  </header>
  